body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400, 500;
    color: #2b283a;
    margin: 0;
}

header {
    background-color: #5f29a3;
    padding: 45px 0;
}

h1 {
    font-size: 36px;
    color: whitesmoke;
    margin: 0;
}
h3 {
    font-size: 20px;
    color: #d0aaff;
    margin: 0;
}
